@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 216 33% 94%;
    --foreground: 217 11% 23%;
    --card: 216 33% 97%;
    --card-foreground: 217 11% 23%;
    --popover: 216 33% 97%;
    --popover-foreground: 217 11% 23%;;
    --primary: 227 100% 71%;
    --primary-foreground: 216 33% 97%;
    --secondary: 218 31% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 216 33% 97%;
    --muted-foreground: 217 10% 49;
    --accent: 0 0% 96.1%;
    --accent-foreground: 217 11% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 22% 74%;
    --input: 217 22% 74%;
    --ring: 217 22% 74%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --shadow-color: rgba(109, 109, 109, 0.1);
  }
  .dark {
    --background: 220 14% 4%;
    --foreground: 216 33% 97%;
    --card: 230 11% 11%;
    --card-foreground: 216 33% 97%;
    --popover: 230 11% 11%;
    --popover-foreground: 216 33% 97%;
    --primary: 227 100% 71%;
    --primary-foreground: 230 11% 11%;
    --secondary: 222 13% 15%;
    --secondary-foreground: 216 33% 97%;
    --muted: 230 11% 11%;
    --muted-foreground: 217 10% 49%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 216 33% 97%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 11% 34;
    --input: 222 11% 34;
    --ring: 222 11% 34;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --shadow-color: rgb(32, 32, 32);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.rotate-0 {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.custom-shadow {
  box-shadow: 4px 4px 7px 0px var(--shadow-color);
}