@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 216 33% 94%;
    --foreground: 216 33% 97%;
    --secondary: 218 31% 90%;
    --icon: 217 22% 74%;
    --gray: 217 10% 49%;
    --text: 217 11% 23%;
    --primary: 227 100% 71%;
    --danger: 352 100% 49%;
    --success: 124 66% 45%;
    --accent: 0 0% 98%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .dark {
    --background: 220 14% 4%;
    --foreground: 230 11% 11%;
    --secondary: 222 13% 15%;
    --icon: 221 11% 34%;
    --gray: 222 10% 44%;
    --text: 216 33% 97%;
    --primary: 0 0% 98%;
    --danger: 0 0% 9%;
    --success: 0 0% 14.9%;
    --accent: 0 0% 98%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


@layer base {
  * {
    @apply  bg-foreground text-text;
  }
  body {
    @apply bg-foreground text-text;
  }
}
